/*PAGE SET UP*/
* {
  box-sizing: border-box;
  font-family: "Unica One", cursive;
  margin: 0;
  user-select: none;
}
body {
  background-color: #f1ffc2;
}
/*ROOT ELEMENT*/
#root {
	width: 1000px;
	height: 400px;
	transform: translate(0%, 0%);
	border-radius: 10px;
	overflow: hidden;
	background: #fff0d9;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.46), 0px 0px 2px 1px rgba(0, 0, 0, 0.46);
	margin: auto;
	margin-top: 50px;
}
#intro {
	width: 80%;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	color: #151e3f;
	padding: 30px;
	line-height: 27px;
	border-bottom: solid #151e3f 2px;
}
#intro p {
  font-family: Arial;
}
#intro h1 {
  margin-bottom: 20px;
}
/*POMODORO CLOCK*/
#pomodoro {
  color: white;
}
/*POMODORO CONTROLS*/
.bubble {
  border-radius: 300%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9), 0px 0px 5px rgba(0, 0, 0, 0.4);
  position: absolute;
}
.btn {
  font-size: 400%;
  transition: transform 0.1s;
}
.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  z-index: 20;
}
#time-left {
	background: #151e3f;
	font-size: 400%;
	z-index: 10;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 250px;
	width: 250px;
}
#start_stop {
	background: #cc5803;
	z-index: 15;
	cursor: pointer;
	top: 81%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100px;
}
#reset {
	background: #f7b05b;
	z-index: 15;
	cursor: pointer;
	height: 70px;
	width: 70px;
	left: 40%;
	top: 61%;
}
#break-label {
	background: #cc5803;
	z-index: 10;
	font-size: 200%;
	height: 130px;
	width: 130px;
	left: 11%;
	top: 22%;
}
#session-label {
	background: #cc5803;
	z-index: 10;
	font-size: 200%;
	height: 130px;
	width: 130px;
	left: 70%;
	top: 24%;
}
#break-increment {
	background: #151e3f;
	z-index: 5;
	cursor: pointer;
	height: 50px;
	width: 50px;
	left: 8%;
	top: 23%;
}
#break-increment:hover {
  z-index: 10;
}
#break-decrement {
	background: #151e3f;
	z-index: 5;
	cursor: pointer;
	height: 50px;
	width: 50px;
	left: 9%;
	top: 46%;
}
#break-decrement:hover {
  z-index: 10;
}
#session-increment {
	background: #151e3f;
	z-index: 5;
	cursor: pointer;
	height: 50px;
	width: 50px;
	left: 80%;
	top: 21%;
}
#session-increment:hover {
  z-index: 10;
}
#session-decrement {
	background: #151e3f;
	z-index: 5;
	cursor: pointer;
	height: 50px;
	width: 50px;
	left: 80%;
	top: 47%;
}
#session-decrement:hover {
  z-index: 10;
}
#break-length {
	background: #f7934c;
	z-index: 15;
	font-size: 150%;
	height: 75px;
	width: 75px;
	left: 20%;
	top: 14%;
}
#session-length {
	background: #f7934c;
	z-index: 15;
	font-size: 150%;
	height: 75px;
	width: 75px;
	left: 66%;
	top: 44%;
}
#timer-label {
	background: #f7934c;
	z-index: 10;
	font-size: 200%;
	height: 130px;
	width: 130px;
	left: 21%;
	top: 61%;
}
.icon{
  width: 50%;
}

.backgroundBauble {
  border-radius: 500%;
  filter: blur(2px);
  position: absolute;
}

@keyframes floating1 {
  0% { transform: translate(0px, 0px) }
  10% { transform: translate(18%, 23%) }
  20% { transform: translate(6%, -43%) }
  30% { transform: translate(-69%, 31%) }
  40% { transform: translate(10%, 9%) }
  50% { transform: translate(-20%, -47%) }
  60% { transform: translate(69%, 9%) }
  70% { transform: translate(32%, -27%) }
  80% { transform: translate(-17%, 27%) }
  90% { transform: translate(17%, 22%) }
  100% { transform: translate(0%,  0%) }
}
@keyframes floating2 {
  0% { transform: translate(0px, 0px) }
  15% { transform: translate(87, 52%) }
  25% { transform: translate(67%, -69%) }
  35% { transform: translate(100%, -44%) }
  45% { transform: translate(-26%, 17%) }
  55% { transform: translate(23%, 75%) }
  65% { transform: translate(44%, -2%) }
  75% { transform: translate(2%, 70%) }
  85% { transform: translate(-23%, 86%) }
  95% { transform: translate(96%, -77%) }
  100% { transform: translate(0%,  0%) }
}
@keyframes floating3 {
  0% { transform: translate(0px, 0px) }
  13% { transform: translate(54%, 44%) }
  23% { transform: translate(27%, -16%) }
  33% { transform: translate(-34%, 2%) }
  43% { transform: translate(94%, 72%) }
  53% { transform: translate(-43%, -12%) }
  63% { transform: translate(81%, 7%) }
  73% { transform: translate(60%, -54%) }
  83% { transform: translate(-33%, 50%) }
  93% { transform: translate(80%, 23%) }
  100% { transform: translate(0%,  0%) }
}
@keyframes floating4 {
  0% { transform: translate(0px, 0px) }
  17% { transform: translate(48%, 71%) }
  27% { transform: translate(45%, -85%) }
  37% { transform: translate(-57%, 50%) }
  47% { transform: translate(3%, 62%) }
  57% { transform: translate(-39%, -98%) }
  67% { transform: translate(4%, 51%) }
  77% { transform: translate(21%, -14%) }
  87% { transform: translate(-94%, 59%) }
  97% { transform: translate(31%, 94%) }
  100% { transform: translate(0%,  0%) }
}
@keyframes floating5 {
  0% { transform: translate(0px, 0px) }
  11% { transform: translate(39%, 61%) }
  21% { transform: translate(23%, -64%) }
  31% { transform: translate(-35%, 80%) }
  41% { transform: translate(90%, 7%) }
  51% { transform: translate(-8%, -29%) }
  61% { transform: translate(39%, 91%) }
  71% { transform: translate(4%, -31%) }
  81% { transform: translate(-6%, 49%) }
  91% { transform: translate(26%, 49%) }
  100% { transform: translate(0%,  0%) }
}
@keyframes floating6 {
  0% { transform: translate(0px, 0px) }
  10% { transform: translate(85%, 44%) }
  20% { transform: translate(72%, -4%) }
  30% { transform: translate(-94%, 57%) }
  40% { transform: translate(87%, 11%) }
  50% { transform: translate(-66%, -52%) }
  60% { transform: translate(93%, 31%) }
  70% { transform: translate(26%, -17%) }
  80% { transform: translate(-95%, 98%) }
  90% { transform: translate(38%, 75%) }
  100% { transform: translate(0%,  0%) }
}
@keyframes floating7 {
  0% { transform: translate(0px, 0px) }
  10% { transform: translate(34%, 43%) }
  20% { transform: translate(66%, -19%) }
  30% { transform: translate(-68%, 54%) }
  40% { transform: translate(22%, 5%) }
  50% { transform: translate(-48%, -26%) }
  60% { transform: translate(45%, 72%) }
  70% { transform: translate(59%, -63%) }
  80% { transform: translate(-74%, 3%) }
  90% { transform: translate(47%, 38%) }
  100% { transform: translate(0%,  0%) }
}
@keyframes floating8 {
  0% { transform: translate(0px, 0px) }
  10% { transform: translate(47%, 82%) }
  20% { transform: translate(26%, -32%) }
  30% { transform: translate(-51%, 71%) }
  40% { transform: translate(84%, 63%) }
  50% { transform: translate(-89%, -33%) }
  60% { transform: translate(60%, 25%) }
  70% { transform: translate(96%, -29%) }
  80% { transform: translate(-24%, 89%) }
  90% { transform: translate(23%, 26%) }
  100% { transform: translate(0%,  0%) }
}







